<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>450399040998-ba2fqaeqkth0vt26jae7gctcjd71lpv4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpnQWyFOntt9LkwRb590FxUu3X6HzsbPs</string>
	<key>GCM_SENDER_ID</key>
	<string>450399040998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vazra.app</string>
	<key>PROJECT_ID</key>
	<string>fibrechat-fcd22</string>
	<key>STORAGE_BUCKET</key>
	<string>fibrechat-fcd22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450399040998:ios:838a86872db90bb6d35227</string>
	<key>DATABASE_URL</key>
	<string>https://fibrechat-fcd22-default-rtdb.firebaseio.com</string>
</dict>
</plist>